body {
  display: flex;
  height: 100vh;
}

.contactbox {
  width: 40%;
  max-width: 400px;
  background-color: wheat;
  margin: auto;
  padding: 40px;
}

p {
  margin: 8px 0px;
}

.contactbox__title {
  font-weight: 600;
  font-size: 24px;
}

.contactbox-form {
  width: 100%;
}

.contactbox-form input[type='text'],
input[type='email'] {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 100%;
  margin: auto;
}

.contactbox-form__name {
  display: flex;
}
.contactbox-form__center {
  width: 15px;
}

.contactbox-form__message textarea {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  margin-bottom: 5px;
}

.contactbox-form__btn {
  display: flex;
}
.contactbox-form__btn div {
  width: 100%;
}
.form__btn-left {
  display: flex;
  align-items: center;
}
.form__btn-left span {
  margin-left: 8px;
}
.form__btn-right {
  display: flex;
  justify-content: flex-end;
}
.form__btn-right input {
  width: 70%;
  border: none;
  height: 30px;
  color: white;
  font-weight: 600;
  background-color: orange;
  border-radius: 5px;
}
