.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/minju1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}

.main-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 50px;
  margin-top: 150px;
}

.main-content {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin-top: 20px;
  padding: 0px 60px;
}

.main-button {
  font-size: 18px;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.sub-content {
  width: 80%;
  max-width: 600px;
  background-color: rgba(110, 110, 110, 0.8);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  position: relative;
  margin: auto;
  top: -30px;
}
